<div class="navbar">
    <div class="profile_link">
        <button class="profile_button" ><a routerLink="/user">
            <img class="profile_button_img" src="assets/img/sample.png" alt="User"></a>
        </button>
    </div>
    <div class="filler">
        <button class="logo2"><a routerLink=" ">
            <img id="img2" src="assets/img/logo.svg" alt="Logo"></a>
        </button>
    </div>
    @if(isUserLoggedIn()){
    <div class="logout">
        <button type="submit" (click)="logout()" class="logout_button">Logout</button>
    </div>
}
</div>
<div class="container">
    
    <div class="search_bar_warp">

            <div class="search_bar_div">
                <input id="search_bar" class="search_bar" type="text" oninput="searchRecipe()" placeholder="Wyszukaj">
            </div>
            
        
    </div>
    @if(recipes.lenght == 0 ){
        <h1>niue ma</h1>
    }
    <div class="recipes">
            @for(recipe of recipes; track recipe){
            <div class="recipe-container" (click) ="goToRecipePage(recipe.id)">
                <div class="recipe">
                    <div class="recipe_left">
                        <div class="recipe_img">
                            <img class="search_img" src="assets/img/kotlet.jpg">
                        </div>
                    </div>
                    <div class="recipe_right">
                        <div class="recipe_top">
                        <a routerLink="/recipe">
                            <h1> {{recipe.name}} </h1>
                            </a>
                        </div>
                        <div class="recipe_bottom">
                            <div class="recipe_info">
                                <div class="recipe_time">
                                    <h2>Czas przygotowania:</h2>
                                    <p>{{recipe.time}}</p>
                                </div>
                                <div class="recipe_time">
                                    <h2>Ilość porcji</h2>
                                    <p>{{recipe.amount}}</p>
                                </div>
                            </div>
                            <div class="recipe_com">
                                <div class="recipe_coms">
                                    <p>rating: 10/10</p>
                                </div>
                                <div class="recipe_coms">
                                    <p>Komentarze (0)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
    </div>
    <div class="add_button">
        <button class="click-button"><a routerLink="/addrecipe">Dodaj przepis</a></button>
    </div>
