<div class="container">
    <div class="logo">
        <a routerLink="/">
            <img src="http://localhost:8000/img/logo.svg" alt="Logo">
        </a>
    </div>
    
    
    <div class="Message">
        <h1>Logowanie</h1>
    </div>
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm($event)">
            <div class="messages" [class.error]="message">
                {{message}}
            </div>
            <div class="input-column">
                <input type="text" name="email" placeholder="email@email.com" formControlName="email">
                <input type="password" name="password" placeholder="password" formControlName="password">
            </div>
            <div class="login-button">
                <button class="click-button" type="submit" [disabled]="!loginForm.valid">Zaloguj</button>
            </div>
        </form>
    </div>
    <button class="click-button"><a routerLink="/register">Register</a></button>
    <div class="fill"></div>
</div>