<div class="navbar">
    <div class="profile_link">
        <button class="profile_button" ><a routerLink="/user">
            <img class="profile_button_img" src="assets/img/sample.png" alt="User"></a>
        </button>
    </div>
    <div class="filler">
        <button class="logo2"><a routerLink="">
            <img id="img2" src="assets/img/logo.svg" alt="Logo"></a>
        </button>
    </div>
    @if(isUserLoggedIn()){
        <div class="logout">
            <button type="submit" (click)="logout()" class="logout_button">Logout</button>
        </div>
    }
</div>
<div class="container">
    <h1>{{message}}</h1>
    <div class="add_recipe">
        <form [formGroup]="addform" (ngSubmit)="submitForm($event)" ENCTYPE="multipart/form-data">
            <input type="text" name="recipe_name" placeholder="Nazwa" formControlName="name">
            <textarea name="description" placeholder="Sposób przygotowania" formControlName="description"></textarea>
            <textarea name="ingredients" placeholder="Składniki" formControlName="ingredients"></textarea>
            <input type="number" name="prep_time" placeholder="Czas przygotowania" formControlName="time">
            <input type="number" name="amount" placeholder="Liczba porcji" formControlName="amount">
            <input name="recipe_date" type="date" id="recipe_date" placeholder="Post date" formControlName="date" required>
            <button type="submit" class="click-button">Dodaj</button>
        </form>
    </div>
</div>