<div class="navbar">
    <div class="profile_link">
        <button class="profile_button" ><a routerLink="/user">
            <img class="profile_button_img" src="assets/img/sample.png" alt="User"></a>
        </button>
    </div>
    <div class="filler">
        <button class="logo2"><a routerLink="">
            <img id="img2" src="assets/img/logo.svg" alt="Logo"></a>
        </button>
    </div>
    <div class="logout">
        <button type="submit" id="logout" class="logout_button"><a routerLink="/login">Logout</a></button>
    </div>
</div>
<div class="container">
    <div class="add_recipe">
        <form action="addRecipe" method="POST" ENCTYPE="multipart/form-data">
            <input type="text" name="recipe_name" placeholder="Nazwa">
            <textarea name="description" placeholder="Sposób przygotowania"></textarea>
            <textarea name="ingredients" placeholder="Składniki"></textarea>
            <input type="number" name="prep_time" placeholder="Czas przygotowania">
            <input type="number" name="amount" placeholder="Liczba porcji">
            <input type="file" name="file" >
            <button type="submit" class="click-button"><a routerLink="">Dodaj</a></button>
        </form>
    </div>
</div>